@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto:wght@300;500&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  position: relative;
}

.container{
  max-width: 900px;
  margin: 0 auto;
  background-color: rgb(130, 113, 231);
}

.menu{
  padding: 40px 20px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  &_title{
    font-family: 'Architects Daughter', sans-serif;
    font-size: 3rem;
  }
  &_icons{
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .fa-calendar-plus-o{
      font-size: 2.5rem;
      cursor: pointer;
    }
  }
}

.main{
  min-height: 100vh;
  background-color: sandybrown;
  &_list{
    padding: 10px;
  }
  &_item{
    position: relative;
    text-align: center;
    width: 80%;
    margin: 10px auto;
    padding: 20px 10px;
    background-color: white;
    border-radius: 10px;
    .item_close{
      cursor: pointer;
      position: absolute;
      top: -8px;
      right: -40px;
      font-size: 3rem;
    }
  }
}

.popup{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.9);
  &_content{
    display: flex;
    flex-direction: column;
    padding: 60px;
    position: absolute;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: sandybrown;
    border-radius: 10px;
    .popup_close{
      cursor: pointer;
      position: absolute;
      font-size: 2rem;
      right: 2px;
      top: 0;
    }
    .popup_title{
      font-weight: 500;
      font-size: 3rem;
      margin-bottom: 30px;
    }
    .popup_label{
      width: 500px;
      border: none;
      border-radius: 5px;
      margin-bottom: 30px;
      text-align: center;
    }
    .popup_text{
      width: 500px;
      border: none;
      border-radius: 5px;
      margin-bottom: 30px;
      text-align: center;
    }
  }
}

.item_label{
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 30px;
}